@-webkit-keyframes fadein {
  form {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

@keyframes fadein {
  form {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

@-webkit-keyframes downUp {
  0% {
    height: 100px;
  }
  50% {
    height: 75px;
  }
  100% {
    height: 100px;
  }
}

@keyframes downUp {
  0% {
    height: 100px;
  }
  50% {
    height: 75px;
  }
  100% {
    height: 100px;
  }
}

@-webkit-keyframes html_line {
  form {
    width: 0;
  }
  to {
    width: 300px;
  }
}

@keyframes html_line {
  form {
    width: 0;
  }
  to {
    width: 300px;
  }
}

@-webkit-keyframes js_line {
  form {
    width: 0;
  }
  to {
    width: 227px;
  }
}

@keyframes js_line {
  form {
    width: 0;
  }
  to {
    width: 227px;
  }
}

@-webkit-keyframes git_line {
  form {
    width: 0;
  }
  to {
    width: 167px;
  }
}

@keyframes git_line {
  form {
    width: 0;
  }
  to {
    width: 167px;
  }
}

html, body {
  color: #6A8372;
  font-size: 20px;
}

header {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../img/sakura.jpg);
  background-position: center;
  background-size: cover;
}

header .tittle {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 50%;
  right: 50%;
  margin: -185px -225px 0 0;
  text-align: center;
  width: 450px;
  height: 250px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid #6A8372;
  border-radius: 5px;
}

header .tittle h1 {
  margin-top: 61.5px;
  margin-bottom: 10px;
  font-size: 35px;
  text-shadow: 1px 1px 2px rgba(53, 53, 53, 0.219);
}

header .tittle p {
  -webkit-animation: fadein 1s 1.5s;
          animation: fadein 1s 1.5s;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  margin: 0;
}

header .scroll {
  -webkit-animation: downUp 2.5s ease-in-out;
          animation: downUp 2.5s ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  cursor: pointer;
  width: 40px;
  height: 100px;
  position: absolute;
  bottom: 0;
  right: 50%;
  margin: 0 -20px 0 0;
}

header .scroll span {
  position: absolute;
  width: 30px;
  height: 5px;
  border-radius: 3px;
  background-color: #6A8372;
  right: 50%;
  top: 0;
  margin: 25px -5px 0 0;
}

header .scroll .spanhover {
  background-color: #3c4b41;
}

header .scroll .line01 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header .scroll .line02 {
  right: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

header .scroll .line03 {
  top: 15px;
}

.menu {
  min-width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
  border-bottom: 1px solid #6A8372;
  padding: 20px 0;
  margin: 0;
}

.menu li {
  cursor: pointer;
}

.menu li:first-child {
  position: absolute;
  left: 0;
}

.menu li a {
  color: #6A8372;
  text-decoration: none;
  padding: 20px;
}

.menu li a:hover {
  border-bottom: 5px solid #6A8372;
}

.menu li a::before {
  content: " ";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.menu li .menu_home::before {
  content: " ";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../img/home.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.menu li .menu_resume::before {
  content: " ";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../img/contract.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.menu li .menu_skill::before {
  content: " ";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../img/like.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.menu li .menu_portfolo::before {
  content: " ";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../img/folder.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.menu li .menu_contact::before {
  content: " ";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../img/email.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.menu_space {
  height: 66px;
  width: 100%;
}

.fixed {
  z-index: 999;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: white;
}

.wrap section {
  padding: 125px  0;
}

.wrap section .midasi {
  text-align: center;
}

.wrap section .midasi h2 {
  font-size: 30px;
  margin-bottom: 0;
}

.wrap section .midasi p {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  text-transform: uppercase;
}

.wrap section .midasi p::before {
  position: absolute;
  top: 55%;
  left: -35px;
  content: "";
  width: 25px;
  height: 1px;
  display: inline-block;
  background-color: #6A8372;
}

.wrap section .midasi p::after {
  position: absolute;
  top: 55%;
  right: -35px;
  content: "";
  width: 25px;
  height: 1px;
  display: inline-block;
  background-color: #6A8372;
}

.wrap section .content {
  max-width: 940px;
  margin: 75px auto;
}

.wrap .basebackground {
  background-color: #954a4513;
}

.resume_content {
  height: 300px;
}

.resume_content .myphoto {
  float: left;
  width: 300px;
  background-image: url(../img/myphoto.jpg);
  height: 300px;
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: 3px 3px 5px #333;
          box-shadow: 3px 3px 5px #333;
  border-radius: 5px;
}

.resume_content .introduction {
  float: right;
  width: 600px;
  margin: 60px 0;
}

.resume_content .introduction p {
  margin: 0;
  line-height: 1.5em;
}

.skill_content {
  min-height: 300px;
}

.skill_content .graph {
  float: left;
}

.skill_content .graph p {
  width: 300px;
  float: left;
  text-align: center;
  z-index: 5;
  margin: 136px 0;
  font-size: 25px;
}

.skill_content .skillList {
  float: right;
  width: 490px;
  margin: 60px auto;
}

.skill {
  margin-top: 20px;
}

.skill:first-child {
  margin-top: 0;
}

.skill .tittle {
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skill .tittle P {
  margin: 0;
  width: 130px;
}

.skill .tittle .down {
  cursor: pointer;
  margin-left: 10px;
  position: relative;
  width: 30px;
  height: 30px;
  -webkit-transition: .5s;
  transition: .5s;
}

.skill .tittle .down .line {
  position: absolute;
  top: 50%;
  right: 50%;
  width: 13px;
  height: 2px;
  background-color: #6A8372;
}

.skill .tittle .down .line01 {
  margin: -5px -3px 0 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.skill .tittle .down .line02 {
  margin: -5px -12px 0 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.skill .tittle .up {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: rotate(181deg) translateY(10px);
          transform: rotate(181deg) translateY(10px);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.skill .tittle .graph_line {
  position: relative;
  width: 300px;
  margin-left: 20px;
}

.skill .tittle .graph_line .line_bottom {
  margin: 4px 0 0 0;
  height: 15px;
  background-color: #6A8372;
  border-radius: 30px;
}

.skill .tittle .graph_line .html_line {
  width: 0;
  -webkit-animation: html_line 1s 1s;
          animation: html_line 1s 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.skill .tittle .graph_line .js_line {
  width: 0;
  -webkit-animation: js_line 1s 1s;
          animation: js_line 1s 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.skill .tittle .graph_line .git_line {
  width: 0;
  -webkit-animation: git_line 1s 1s;
          animation: git_line 1s 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.skill .tittle .graph_line .adobe_line {
  width: 0;
  -webkit-animation: html_line 1s 1s;
          animation: html_line 1s 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.skill .tittle .graph_line .cover {
  margin-top: 4px;
  position: absolute;
  top: 0;
  display: inline-block;
  width: 5px;
  height: 15px;
  background-color: #f7f2f1;
}

.skill .tittle .graph_line .cover01 {
  left: 57.5px;
}

.skill .tittle .graph_line .cover02 {
  left: 117.5px;
}

.skill .tittle .graph_line .cover03 {
  left: 177.5px;
}

.skill .tittle .graph_line .cover04 {
  left: 237.5px;
}

.portfolo_content {
  min-height: 658px;
}

.portfolo_content .portfolo {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 450px;
  height: 300px;
  margin: 8px 6px;
  background-color: #333;
  border: 1px solid #6A8372;
}

.portfolo_content .portfolo:hover {
  -webkit-box-shadow: 5px 5px 5px rgba(51, 51, 51, 0.5);
          box-shadow: 5px 5px 5px rgba(51, 51, 51, 0.5);
}

.portfolo_content .portfolo:hover .name {
  -webkit-transition: 1s;
  transition: 1s;
  position: absolute;
  bottom: 0px;
}

.portfolo_content .portfolo .name {
  -webkit-transition: 1s;
  transition: 1s;
  width: 440px;
  padding: 5px;
  position: absolute;
  bottom: -33px;
  color: #fff;
  background-color: rgba(51, 51, 51, 0.3);
}

.portfolo_content .portfolo01 {
  background-image: url(../img/resume.PNG);
  background-position: center;
  background-size: cover;
}

.portfolo_content .portfolo02 {
  background-image: url(../img/API.PNG);
  background-position: center;
  background-size: cover;
}

.portfolo_content .portfolo03 {
  background-image: url(../img/BMI.PNG);
  background-position: center;
  background-size: cover;
}

.portfolo_content .portfolo04 {
  background-image: url(../img/EC.PNG);
  background-position: center;
  background-size: cover;
}

.contact_content {
  height: 325px;
}

.contact_content .form {
  float: left;
}

.contact_content .form input {
  width: 300px;
  margin: 10px;
  border: 1px solid #6A8372;
  border-radius: 5px;
  padding: 8px;
}

.contact_content .form .message {
  margin: 10px;
  width: 450px;
  height: 150px;
  resize: none;
  border: 1px solid #6A8372;
  border-radius: 5px;
  padding: 8px;
}

.contact_content .form .btn {
  cursor: pointer;
  width: auto;
  float: right;
  background: none;
  color: #6A8372;
  border: 1px solid #6A8372;
  padding: 5px 15px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.contact_content .form .btn:hover {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  background-color: #6A8372;
  color: #fff;
}

.contact_content .info {
  margin-top: 30px;
  width: 300px;
  float: right;
  list-style: none;
  padding: 0;
}

.contact_content .info li {
  margin: 10px 0;
}

.contact_content .info .myname::before {
  content: " ";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../img/user.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.contact_content .info .myphone::before {
  content: " ";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../img/telephone.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.contact_content .info .myemail::before {
  content: " ";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../img/email.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 10px;
}

footer {
  text-align: center;
  padding: 20px;
  color: #fff;
  background-color: #6A8372;
}

.none {
  display: none;
}

.graph_circle {
  opacity: 0;
  z-index: -1;
  position: relative;
  width: 300px;
  height: 300px;
}

.graph_circle .circle {
  border-radius: 50%;
  position: absolute;
  right: 50%;
  top: 50%;
}

.graph_circle .circle_top {
  width: 250px;
  height: 250px;
  background-color: #fff;
  z-index: 10;
  margin: -125px -125px 0 0;
}

.graph_circle .cover .line01 {
  position: absolute;
  top: 50%;
  right: 50%;
  margin: -150px -12.5px 0 0;
  background-color: #fff;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  width: 25px;
  height: 151px;
  z-index: 3;
}

.graph_circle .cover .line02 {
  position: absolute;
  top: 50%;
  right: 50%;
  margin: -150px -12.5px 0 0;
  background-color: #fff;
  -webkit-transform: rotate(72deg);
          transform: rotate(72deg);
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  width: 25px;
  height: 151px;
  z-index: 3;
}

.graph_circle .cover .line03 {
  position: absolute;
  top: 50%;
  right: 50%;
  margin: -150px -12.5px 0 0;
  background-color: #fff;
  -webkit-transform: rotate(144deg);
          transform: rotate(144deg);
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  width: 25px;
  height: 151px;
  z-index: 3;
}

.graph_circle .cover .line04 {
  position: absolute;
  top: 50%;
  right: 50%;
  margin: -150px -12.5px 0 0;
  background-color: #fff;
  -webkit-transform: rotate(216deg);
          transform: rotate(216deg);
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  width: 25px;
  height: 151px;
  z-index: 3;
}

.graph_circle .cover .line05 {
  position: absolute;
  top: 50%;
  right: 50%;
  margin: -150px -12.5px 0 0;
  background-color: #fff;
  -webkit-transform: rotate(288deg);
          transform: rotate(288deg);
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  width: 25px;
  height: 151px;
  z-index: 3;
}

.part1 {
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 100%;
}

.part1 .circlebottom {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  width: 150px;
  height: 300px;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
}

.part1 .circle01 {
  border-radius: 0 0 0 0;
  background-color: #fff;
  z-index: 2;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.part1 .circle02 {
  border-radius: 150px 0 0 150px;
  background-color: #6A8372;
  z-index: 1;
  -webkit-transform: rotate(72deg);
          transform: rotate(72deg);
}

.part2 {
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 100%;
}

.part2 .circlebottom {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  width: 150px;
  height: 300px;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
}

.part2 .circle01 {
  border-radius: 0 0 0 0;
  background-color: #fff;
  z-index: 2;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.part2 .circle02 {
  border-radius: 150px 0 0 150px;
  background-color: #6A8372;
  z-index: 1;
  -webkit-transform: rotate(144deg);
          transform: rotate(144deg);
}

.part3 {
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 100%;
}

.part3 .circlebottom {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  width: 150px;
  height: 300px;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
}

.part3 .circle01 {
  border-radius: 150px 0 0 150px;
  background-color: #6A8372;
  z-index: 2;
  -webkit-transform: rotate(-144deg);
          transform: rotate(-144deg);
}

.part3 .circle02 {
  border-radius: 150px 0 0 150px;
  background-color: #6A8372;
  z-index: 1;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.part4 {
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 100%;
}

.part4 .circlebottom {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  width: 150px;
  height: 300px;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
}

.part4 .circle01 {
  border-radius: 150px 0 0 150px;
  background-color: #6A8372;
  z-index: 2;
  -webkit-transform: rotate(-72deg);
          transform: rotate(-72deg);
}

.part4 .circle02 {
  border-radius: 150px 0 0 150px;
  background-color: #6A8372;
  z-index: 1;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.part5 {
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 100%;
}

.part5 .circlebottom {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  width: 150px;
  height: 300px;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
}

.part5 .circle01 {
  border-radius: 150px 0 0 150px;
  background-color: #6A8372;
  z-index: 2;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.part5 .circle02 {
  border-radius: 150px 0 0 150px;
  background-color: #6A8372;
  z-index: 1;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
/*# sourceMappingURL=style.css.map */