@keyframes fadein {
    form{opacity: 0;}
    to{opacity: 100%;}
}
@keyframes downUp{
    0%{ height: 100px;}
    50%{ height: 75px;}
    100%{ height: 100px;}
}
@keyframes html_line{
    form{width: 0;}
    to{width: 300px;}
}
@keyframes js_line{
    form{width: 0;}
    to{width: 227px;}
}
@keyframes git_line{
    form{width: 0;}
    to{width: 167px;}
}
@keyframes bounceIn{
    0%{ font-size: $bigfontsize; }
    25%{ font-size: 2em; }
    50%{ font-size: $bigfontsize; }
    100%{ font-size: $bigfontsize; }
}